@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.885), rgba(0, 0, 0, 0.332)), url('./img/bg-cursos-ontech.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

#header {
    height: 70px;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ffffff;
}

#logo {
    border-bottom: none;
}

a {
    color: #eaeaea;
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5em;
}

#menu a {
    display: block;
    padding: .5em;
}

#btn-mobile {
    display: flex;
}

@media (min-width: 601px) {
    button#btn-mobile {
        display: none;
    }  
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 124px;
        right: 0px;
        background: linear-gradient(rgba(0, 0, 0, 0.556), rgba(0, 0, 0, 0.244));
        z-index: 1000;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #menu {
        height: calc(92vh - 52px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 1rem;
        margin: 0;
    }

    #btn-mobile {
        background-color: #ffffff00;
        display: flex;
        padding: .5rem 1rem;
        font-size: 2rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: 5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: #ffffff;
    }
    
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
 }

 .sectionTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
}

.sectionDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #383838;
    margin-bottom: 30px;
}

.videoOnTech {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videoOnTech video {
    height: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.videoOnTechTitle {
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
}

.videoOnTechDescription {
    color: #383838;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    padding: 20px auto;
}

.gridContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "mainContent sidebarContent";
    padding: 80px;
    flex: 1 0 auto;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    grid-area: mainContent;
}

.mainCategoryCardTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    padding: 8px;
}

.mainCategoryCardDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #383838;
    padding: 8px;
}

.mainCardImg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.categoryCard {
    width: 280px;
    height: 380px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.btnCursos {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(22, 22, 184);
    color: #fefefe;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 6px;
    border: transparent;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.btnCursos:hover {
    background-color: rgb(13, 0, 255);
    color: #fff;
}

.sidebarContent {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #fefefe;
    border-radius: 20px;
    padding: 24px;
    min-width: 300px;
    grid-area: sidebarContent;
    gap: 20px;
}

.categoryExtraTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.sidebarCardTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.sidebarCard {
    width: 90%;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

.sidebarCard:hover {
    transform: scale(1.1);
}

.sidebarCardImg {
    width: 100%;
    border-radius: 10px;
}

.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    min-height: 40px;
    padding: 32px;
    font-family: 'Poppins';
    font-size: 12px;
}

.logoFooter {
    width: 80px;
}

.footerAnchor {
    color: #fefefe;
    text-decoration: none;
}

.copyRight {
    background-color: #000000;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
}


.copyRight a { 
    font-size: 16px;
    text-decoration: none;
    color: rgb(158, 0, 158);
    transition: 0.4s;
}

.copyRight a:hover {
    color: rgb(219, 2, 219);
}


@media (max-width: 412px) {
    .header {
        justify-content: center;
    }
    
    a {
        color: #eaeaea;
        font-family: 'Poppins';
        font-weight: 500;
        text-decoration: none;
        transition: 0.4s;
        border: none! important;
    }
    
    .sectionTitle {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
    }
    
    .sectionDescription {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        color: #383838;
    }
    
    @media (max-width: 420px) {
        .header {
            justify-content: center;
        }
        
        a {
            color: #eaeaea;
            font-family: 'Poppins';
            font-weight: 500;
            text-decoration: none;
            transition: 0.4s;
            border: none! important;
        }
        
        .sectionTitle {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
            text-align: center;
        }
        
        .sectionDescription {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 10px;
            text-align: center;
            color: #383838;
        }
        
        @media (max-width: 620px) {
            .gridContainer {
                grid-template-areas: 
                "mainContent"
                "sidebarContent";
                gap: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            .sidebarContent {
                min-width: auto;
            }
            
            .footerAnchor {
                color: #fefefe;
                text-decoration: none;
                font-size: 10px;
            }
        }

        .videoOnTech video {
            width: 90%;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    .videoOnTechTitle {
        color: #000;
        text-align: center;
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 600;
        padding: 20px auto;
    }
    
    .videoOnTechDescription {
        color: #383838;
        text-align: center;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        margin: 20px auto;
    }

    .mainContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
        grid-area: mainContent;
    }

    .sidebarContent {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #fefefe;
        border-radius: 20px;
        padding: 20px;
        min-width: 300px;
        grid-area: sidebarContent;
        gap: 20px;
        margin-top: 80px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 364px) {
    .header {
        justify-content: center;
    }

    .footer {
        justify-content: center;
    }
}